@layer base {
  /* Zinc */
  /* Default Theme */
  :root:not(.dark),
  [data-theme='zinc']:not(.dark) {
    --background: oklch(1 0 0);
    --foreground: oklch(0.21 0.006 285.885);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.21 0.006 285.885);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.21 0.006 285.885);
    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.961 0.006 286.478);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.961 0.006 286.478);
    --muted-foreground: oklch(0.552 0.014 285.938);
    --accent: oklch(0.961 0.006 286.478);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.897 0.01 285.444);
    --input: oklch(0.897 0.01 285.444);
    --ring: oklch(0.21 0.006 285.885);
    --sidebar: oklch(0.96 0.006 286.478);
    --sidebar-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.961 0.006 286.478);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.89 0.01 285.444);
    --sidebar-ring: oklch(0.87 0.01 285.444);

    /* default */
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-color: hsl(240 30% 25%);
    --shadow-opacity: 0.12;
    --shadow-blur: 6px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
    --tracking-normal: 0em;
  }

  :root.dark,
  [data-theme='zinc'].dark {
    --background: oklch(0.21 0.006 285.885);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.274 0.006 286.033);
    --input: oklch(0.274 0.006 286.033);
    --ring: oklch(0.83 0.01 285.444);
    --sidebar: oklch(0.24 0.006 286.033);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.19 0.006 286.033);
    --sidebar-ring: oklch(0.83 0.01 285.444);

    /* default */
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-color: hsl(240 30% 25%);
    --shadow-opacity: 0.12;
    --shadow-blur: 6px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
    --tracking-normal: 0em;
  }
}
